.home-bg{
   width:100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-position: no-repeat;
    overflow: hidden
  };
  .home-text{
     
      align-items: center;
      

  }
  .textContainer{
      text-align: center;
      margin-top: 100px;
      font-weight:bold;
      font-size: 18px;

  }
  .textContainer .homebutton{
    margin:380px;
    background-color:#464646;
    border-radius: 20px;
    padding:4px 35px;
    cursor: pointer;
    border:none;
    color:#ffffff;
    font-size: 14px;
    font-weight: bold;
  }
  